<%= form_with(model: repository_set, local: true) do |form| %>
  <% if repository_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repository_set.errors.count, "error") %> prohibited this repository_set from being saved:</h2>

      <ul>
      <% repository_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
