<p id="notice"><%= notice %></p>

<h1>Repository Sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repository_sets.each do |repository_set| %>
      <tr>
        <td><%= repository_set.name %></td>
        <td><%= link_to 'Show', repository_set %></td>
        <td><%= link_to 'Edit', edit_repository_set_path(repository_set) %></td>
        <td><%= link_to 'Destroy', repository_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repository Set', new_repository_set_path %>
