<h2>Repository Set: <em><%= @repository_set.name %></em></h2>

<p id="notice"><%= notice %></p>

<div class="options">
  <%= button_to 'View codes of conduct', code_of_conduct_sets_path(@repository_set.id), method: :get %>
  <%= button_to 'Run this set', find_codes_of_conduct_path(@repository_set.id), method: :get %>
  <%= button_to 'Edit set name', edit_repository_set_path(@repository_set), method: :get %>
</div>

<p>
  GitHub repositories in this set:
</p>

<ul>
  <% @repository_set.repositories.each do |repository| %>
    <li><%= link_to repository.login + '/' + repository.name, "https://github.com/#{repository.login}/#{repository.name}" %></li>
  <% end %>
</ul>

