<%= form_with(model: code_of_conduct, local: true) do |form| %>
  <% if code_of_conduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(code_of_conduct.errors.count, "error") %> prohibited this code_of_conduct from being saved:</h2>

      <ul>
      <% code_of_conduct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="field">
    <%= form.label :sample_text %>
    <%= form.text_area :sample_text %>
  </div>

  <div class="field">
    <%= form.label :repository_id %>
    <%= form.text_field :repository_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
