<p id="notice"><%= notice %></p>

<h1>Code Of Conducts</h1>

<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Sample text</th>
      <th>Type</th>
      <th>Repository</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_of_conducts.each do |code_of_conduct| %>
      <tr>
        <td><%= code_of_conduct.path %></td>
        <td><%= code_of_conduct.sample_text %></td>
        <td><%= code_of_conduct.code_of_conduct_type.name %></td>
        <td><%= code_of_conduct.repository.login %>/<%= code_of_conduct.repository.name %></td>
        <td><%= link_to 'Show', code_of_conduct %></td>
        <td><%= link_to 'Edit', edit_code_of_conduct_path(code_of_conduct) %></td>
        <td><%= link_to 'Destroy', code_of_conduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code Of Conduct', new_code_of_conduct_path %>
