<p id="notice"><%= notice %></p>

<h2>Codes Of Conduct for Set <%= RepositorySet.find(params["repository_set_id"]).name %></h2>

<table>
  <thead>
    <tr>
      <th>Repository</th>
      <th>Path</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_of_conducts.each do |code_of_conduct| %>
      <tr>
        <td><%= code_of_conduct.repository.login %>/<%= code_of_conduct.repository.name %></td>
        <td><a href="<%= code_of_conduct.url %>"><%= code_of_conduct.path %></a></td>
        <td><%= code_of_conduct.code_of_conduct_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
