<%= form_with(model: code_of_conduct_type, local: true) do |form| %>
  <% if code_of_conduct_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(code_of_conduct_type.errors.count, "error") %> prohibited this code_of_conduct_type from being saved:</h2>

      <ul>
      <% code_of_conduct_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Enter a name for the code of conduct type:" %>
    <%= form.text_field :name, size: "50" %>
  </div>

  <div class="field">
    <%= form.label :url, "Enter the URL to the code of conduct type:" %>
    <%= form.text_field :url, size: "50" %>
  </div>

  <div class="field">
    <%= form.label :fingerprint_1, "Enter some text that can be used to identify the code of conduct type" %>
    <%= form.text_area :fingerprint_1, cols: "50" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
