<h2>Code of Conduct Type: <em><%= @code_of_conduct_type.name %></em></h2>

<p id="notice"><%= notice %></p>

<div class="options">
  <%= button_to 'Edit code of conduct type', edit_code_of_conduct_type_path(@code_of_conduct_type), method: :get %>
</div>

<p>
  <strong>Url:</strong>
  <%= @code_of_conduct_type.url %>
</p>

<p>
  <strong>Fingerprint 1:</strong>
  <%= @code_of_conduct_type.fingerprint_1 %>
</p>
