<!DOCTYPE html>
<html>
  <head>
    <title>ItProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'GitHub Code of Conduct Finder', 'http://localhost:3000' %></h1>

    <%= yield %>
  </body>
</html>
