<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Code of Conduct Identifier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'GitHub Code of Conduct Identifier', root_path %></h1>

    <div class="menu">
      <%= link_to 'Repository Sets', repository_sets_path %>
      <%= link_to 'Code of Conduct Types', code_of_conduct_types_path %>
    </div>

    <%= yield %>
  </body>
</html>
